.tab {
            display: flex;
            background-color: #f1f1f1;
            border-bottom: 1px solid #ddd;
        }
.tab button {
            background-color: inherit;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 20px;
            font-size: 16px;
            transition: background-color 0.3s;
        }
.tab button:hover {
            background-color: #ddd;
        }
.tab button.active {
            background-color: #ccc;
            border-bottom: 3px solid #000;
        }
table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
th {
            background-color: #f2f2f2;
        }